In [1]:
import numpy as np

In [3]:
X = np.random.normal(loc=1, scale=10, size=(1000, 50))
print(X)

[[ 12.06224027   4.24577667 -12.8360661  ...   6.33406398  17.19642504
   -2.5726483 ]
 [-13.08428286   4.99505189  18.3852461  ...   8.44560908  13.02788077
  -11.86603539]
 [  9.86247285   1.51106535  -5.82428045 ...  -0.28103302  19.77702225
   -4.07032308]
 ...
 [  3.09071816   2.35472411   9.41946286 ...  -4.41866346   5.24021975
  -17.84057942]
 [ 14.72752667  14.5066814   -0.05509949 ...   6.09132165  12.97879246
    2.51118801]
 [ -0.83911243   1.50144218  -3.46548795 ...  19.00885239   4.55440832
    1.08356801]]

In [5]:
m = np.mean(X, axis=0)
std = np.std(X, axis=0)
X_norm = ((X - m)  / std)
print(X_norm)

[[ 1.06245559  0.30752856 -1.35332615 ...  0.52232142  1.66996368
  -0.38155565]
 [-1.44502203  0.38144078  1.69437105 ...  0.73242553  1.25164014
  -1.28539475]
 [ 0.84310648  0.03776311 -0.66886422 ... -0.13589757  1.92893288
  -0.52721374]
 ...
 [ 0.16786309  0.12098578  0.81916785 ... -0.54760232  0.47012945
  -1.86645593]
 [ 1.32822379  1.31971498 -0.1057003  ...  0.49816794  1.24671401
   0.11287872]
 [-0.22399872  0.03681383 -0.43860852 ...  1.78349512  0.4013066
  -0.02596611]]

In [6]:
A = np.eye(3)
B = np.eye(3)
AB = np.stack((A,B))

In [7]:
AB

array([[[1., 0., 0.],
        [0., 1., 0.],
        [0., 0., 1.]],

       [[1., 0., 0.],
        [0., 1., 0.],
        [0., 0., 1.]]])

In [9]:
import pandas
data = pandas.read_csv('../../input/titanic/titanic.csv', index_col='PassengerId')

In [10]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [17]:
data['Survived'].sum()/data['Survived'].count()

0.3838383838383838

In [123]:
females = data[data['Sex'] == 'female'].copy()
females.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
PassengerId,,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs. John Bradley (Florence Briggs Thayer)
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss. Laina
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs. Jacques Heath (Lily May Peel)
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs. Nicholas (Adele Achem)

In [114]:
def extract_name(name):
    first = name.split(',')[-1]
    first = first[:4]
    if first[:4] == 'Mrs':
        first = "MRS"
        #first = first.split('(')[-1]
        #first = first[:-1]
    return first

In [130]:
females['FirstName'] = females['Name'].apply(lambda x: extract_name(x))

In [131]:
females['FirstName'].head()

PassengerId
2      Mrs
3      Mis
4      Mrs
9      Mrs
10     Mrs
Name: FirstName, dtype: object

In [132]:
females.dtypes

Survived       int64
Pclass         int64
Name          object
Sex           object
Age          float64
SibSp          int64
Parch          int64
Ticket        object
Fare         float64
Cabin         object
Embarked      object
FirstName     object
dtype: object